.fab{
    font-size: 35px;
    color: black;
    margin-right: 10px;
}

.rounded-circle{
    border: 5px solid #ffff;
}

.bg{
    background-color: #F1F3F8;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}