*{
    margin: 0;
}

body{
   
}

nav{
    background-color: #393B44;
}
nav ul li a{
    font-size: 20px;
    color: white;
    transition: 0.1s;
}
nav ul li a:hover{
    color: white;
    font-size: 22px;
}

.judul{
    background-image: url(beranda.png);
    background-repeat: repeat;
}